TodoApp/Connected Services/ServiceReference1/DatabaseServiceLib.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseServiceLib.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseServiceLib.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TodoItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItemModel" nillable="true" type="tns:TodoItemModel" />
  <xs:complexType name="ArrayOfTodoItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItemModel" nillable="true" type="tns:TodoItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItemModel" nillable="true" type="tns:ArrayOfTodoItemModel" />
</xs:schema>